*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: #303030;
}

a {
  color: inherit;
  text-decoration: none;
  text-transform: none;
}

ul {
  list-style: none;
}

/* =====================
        Header
======================*/

.header {
  background-image: url(/src/images/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px 10px 38px;
  margin-bottom: 150px;
}

.header__subtitle {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin-top: auto;
}

.header__title {
  font-family: "Noto Sans", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 87px;
}

.header__title span {
  display: block;
  font-family: "Noto Sans", sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 57px;
}

.header__button {
  align-self: center;
  margin-top: 50px;
  margin-bottom: auto;
}

.button:hover .button__path {
  fill: #a9a32a;
}

.button__path {
  transition: fill 0.2s;
}

.button__text {
  font-size: 18px;
  line-height: 24.5px;
  display: inline-block;
  transform: translateY(-20px);
  margin-left: -55px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  margin: 0 10px;
}

/* =====================
        Services
======================*/

.services {
  margin-bottom: 150px;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.services__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  color: #868585;
  margin-bottom: 60px;
  text-transform: uppercase;
}

.services__inner {
  display: flex;
  justify-content: space-between;
}

.services__content {
  flex-basis: 510px;
}

.services__item {
  margin-bottom: 50px;
}

.services__item-title {
  font-size: 18px;
  line-height: 24.5px;
  color: #303030;
  font-weight: 700;
  margin-bottom: 15px;
}

.services__item-text {
  font-size: 14px;
  line-height: 19px;
  color: #303030;
  font-weight: 400;
  text-align: justify;
}

.services__box-img {
  width: 600px;
  object-fit: cover;
}

.services__img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* =====================
        Tariff
======================*/

.tariff {
  margin-bottom: 150px;
}

.tariff__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  color: #868585;
  margin-bottom: 60px;
  text-transform: uppercase;
}

.tarrif__inner {
  display: flex;
  justify-content: space-between;
}

.tariff__box {
  flex-basis: 510px;
}

.tariff__tabs {
  margin-bottom: 100px;
}

.tariff__tabs-links {
  margin-bottom: 120px;
}

.tariff__tabs-link {
  font-size: 18px;
  line-height: 24.5px;
  font-weight: 400;
  margin-right: 40px;
}

.tariff__tabs-link--active {
  padding-bottom: 2px;
  border-bottom: 1px solid #303030;
}

.tariff__tabs-link:nth-child(3) {
  margin-right: 0;
}

.tariff__content {
  flex-basis: 600px;
}

.tariff__content-text {
  font-size: 18px;
  line-height: 24.5px;
  font-weight: 700;
  margin-bottom: 17px;
  text-align: justify;
}

.tariff__content-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.tariff__tabs-content {
  display: none;
}

.tariff__tabs-content--active {
  display: block;
}

.tariff__slider {
  width: 510px;
}

.tariff__slider-img {
  margin-right: 40px;
  float: left;
}

.tariff__slider-text {
  float: right;
  max-width: 235px;
  font-size: 14px;
  line-height: 19px;
  text-align: justify;
  padding-bottom: 15px;
}

.slick-arrow {
  position: absolute;
  left: 55px;
  bottom: -3px;
  z-index: 10;
}

.slick-right {
  left: 120px;
}

.tariff__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tariff__info-title {
  font-size: 18px;
  line-height: 24.5px;
  margin-bottom: 5px;
}

.tariff__info-text {
  text-align: justify;
}

.tariff__info-item {
  flex-basis: 235px;
  margin-bottom: 20px;
}

/* =====================
      Blockquote
======================*/

.blockquote {
  background-image: url(/src/images/blockquote-img.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 128px 10px 144px;
  margin-bottom: 150px;
}

.blockquote__text {
  max-width: 670px;
  margin: 0 auto;
  text-align: center;
  font-size: 42px;
  font-weight: 400;
  line-height: 57px;
  color: #fff;
}

/* =====================
        CLients
======================*/

.clients {
  margin-bottom: 150px;
}

.clients__title {
  font-size: 24px;
  line-height: 32.5px;
  font-weight: 700;
  margin-bottom: 60px;
}

.clients__slider-box {
  display: flex;
}

.clients__slider-box__img {
  flex-basis: 510px;
  margin-right: 90px;
  margin-bottom: 30px;
}

.clients__slider-box__title {
  max-width: 480px;
  font-size: 18px;
  line-height: 24.5px;
  font-weight: 700;
  margin-bottom: 30px;
}

.clients__slider-box__list {
  margin-left: 50px;
  margin-bottom: 50px;
}

.clients__slider-box__list li {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 19px;
}

.slick-arrow path {
  transition: fill 0.2s;
}

.slick-arrow:hover path {
  fill: #a9a32a;
}

/* =====================
        Steps
======================*/

.steps {
  margin-bottom: 150px;
}

.steps__content {
  display: flex;
  justify-content: space-between;
}

.steps__content-inner {
  flex-basis: 510px;
}

.steps__content-title {
  font-size: 24px;
  line-height: 32.5px;
  font-weight: 700;
  color: #868585;
  margin-bottom: 60px;
}

.steps__content-list {
  list-style: none;
  counter-reset: number;
}

.content-list__item {
  counter-increment: number;
  margin-bottom: 30px;
}

.content-list__item::before {
  content: "0" counter(number);
  margin-bottom: 11px;
  color: #868585;
}

.content-list__item:nth-last-child(n + 10)::before {
  content: counter(number);
}

.content-list__title {
  font-size: 18px;
  line-height: 24.5px;
  font-weight: 700;
}

.content-list__text {
  font-size: 14px;
  line-height: 19px;
}

.steps__box-img {
  flex-basis: 600px;
  object-fit: cover;
}

.steps__img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* =====================
        Footer
======================*/

.footer {
  background-image: url("/src/images/footer/footer-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  padding: 70px 0 50px;
}

.footer__top {
  display: flex;
  margin-bottom: 150px;
}

.footer__form {
  display: flex;
  flex-direction: column;
  flex-basis: 510px;
  margin-right: 90px;
}

.footer__form-title {
  margin-bottom: 60px;
  font-size: 24px;
  line-height: 32.5px;
  text-transform: uppercase;
  font-weight: 700;
}

.footer__form-input {
  display: block;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  background: none;
  padding-bottom: 10px;
  margin-bottom: 60px;
  outline: none;
}

.footer__form-input::placeholder {
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
}

.footer__form-input:focus::placeholder {
  color: transparent;
}

.footer__form-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  width: max-content;
  padding: 0;
}

.footer__contacts-title {
  margin-bottom: 60px;
  font-size: 24px;
  line-height: 32.5px;
  text-transform: uppercase;
  font-weight: 700;
}

.footer__contacts-list {
  font-size: 18px;
  line-height: 24.5px;
}

.footer__contacts-item {
  margin-bottom: 30px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* =====================
        Adaptive
======================*/

@media (max-width: 1280px) {
  .services__inner {
    flex-wrap: wrap;
  }

  .services__content {
    flex-basis: 100%;
  }

  .services__box-img {
    flex-basis: 100%;
  }

  .services__img {
    width: 100%;
    height: 450px;
  }

  .tarrif__inner {
    flex-wrap: wrap-reverse;
  }

  .tariff__box {
    flex-basis: 100%;
    display: flex;
  }

  .tariff__tabs-links {
    margin-bottom: 40px;
  }

  .tariff__info {
    margin-left: 40px;
    align-self: start;
  }

  .tariff__content {
    flex-basis: 100%;
  }

  .tariff__content-img {
    display: none;
  }
}

@media (max-width: 768px) {
  .header,
  .services,
  .tariff,
  .blockquote,
  .clients,
  .steps,
  .footer__top {
    margin-bottom: 60px;
  }

  .header__title {
    font-size: 48px;
    line-height: 56px;
  }

  .header__title span {
    font-size: 32px;
    line-height: 40px;
  }

  .tariff__box {
    display: block;
  }

  .tariff__tabs {
    margin-bottom: 40px;
  }

  .tariff__tabs-links {
    text-align: center;
  }

  .tariff__slider {
    margin: 0 auto;
  }

  .tariff__info {
    margin-left: 0;
  }
  .tariff__info-item {
    margin-right: 40px;
  }

  .blockquote__text{
    font-size: 36px;
    line-height: 44px;
  }
}

@media (max-width: 590px) {
  .header,
  .services,
  .tariff,
  .blockquote,
  .clients,
  .steps,
  .footer__top {
    margin-bottom: 40px;
  }

  .header__title {
    font-size: 32px;
    line-height: 40px;
  }

  .header__title span {
    font-size: 24px;
    line-height: 32px;
  }

  .header__subtitle {
    font-size: 18px;
    line-height: 26px;
  }

  .button__text {
    font-size: 16px;
  }

  .services__title {
    margin-bottom: 30px;
  }

  .services__item {
    margin-bottom: 20px;
  }

  .tariff__slider {
    max-width: 100%;
  }

  .tariff__info {
    flex-direction: column;
    justify-content: center;
  }

  .tariff__info-item {
    margin-right: 0;
    max-width: 100%;
    flex-basis: 0;
  }
}

@media (max-width: 540px) {
  .tariff__slider {
    max-width: 235px;
    margin: 0 auto;
  }

  .tariff__slider-img {
    margin-right: 0;
    float: none;
    margin-bottom: 25px;
  }

  .tariff__slider-text {
    float: none;
  }

  .slick-arrow {
    position: absolute;
    left: 64px;
    bottom: -3px;
    z-index: 10;
  }

  .slick-right {
    left: 120px;
  }
}

@media (max-width: 375px) {
  .button__text {
    margin-left: -76px;
    font-size: 14px;
  }
}
